# Python caches
__pycache__/
*.pyc

# Venv
.venv/
venv/

# Azure gereksiz dosyalar
output.tar.gz
*.zip

# Local cache
cache/
artifacts/

# Secrets
.env
deploy/

# CI packaging
deploy/

# macOS
.DS_Store
